$main: #8f91f0;
$main-trans: #8f91f026;
$main-hover: #b3b4f5;
$second: #333;
$third: #fff;
$fourth: #000;

$txt1: $second;
$txt2: $third;
$txt3: $fourth;

$error: #ff1000;

$bd: #bbb;
$rs: 5px;
