@use "./../../sass/abstracts" as a;
.formlog {
    background: #fff;
    padding: 20px 30px; 
    max-width: 400px;
    width: 80%;
    min-width: 200px;
    display: flex; gap: 20px 0;
    flex-direction: column; 

    & > * {flex-shrink: 0;}

    &__container {
        background-color: #dbe3f0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: max(100vh, 500px);
    }

    &__select {
        width: 100%; height: 100%;
        padding: 12px 40px; 
        
        font-weight: 600;
        color: a.$txt1;

        &[ischoosed="ok"] {
            background: a.$main-trans;
            color: a.$main;
            border: 1px solid currentColor;
        }
    }

    &__view {
        flex-grow: 1;
        display: grid; grid-gap: 20px;
    }

}